@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts//RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts//RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/NotoSansTC/NotoSansTC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/NotoSansTC/NotoSansTC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/NotoSansTC/NotoSansTC-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/NotoSansSC/NotoSansSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/NotoSansSC/NotoSansSC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/NotoSansSC/NotoSansSC-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Helveticons/Helveticons.ttf) format('truetype');
}