@supports (aspect-ratio: 1 / 1) {
.svgIcon-amount {aspect-ratio:20 / 22;height: auto;}
.svgIcon-arrowDown {aspect-ratio:14 / 14;height: auto;}
.svgIcon-arrowDownChevron {aspect-ratio:10 / 6;height: auto;}
.svgIcon-arrowDownCollapse {aspect-ratio:22 / 12;height: auto;}
.svgIcon-arrowLeft {aspect-ratio:12 / 12;height: auto;}
.svgIcon-arrowLeft2 {aspect-ratio:8 / 18;height: auto;}
.svgIcon-arrowNext {aspect-ratio:30 / 30;height: auto;}
.svgIcon-arrowRight {aspect-ratio:12 / 13;height: auto;}
.svgIcon-arrowRight2 {aspect-ratio:8 / 18;height: auto;}
.svgIcon-arrowRightThin {aspect-ratio:32 / 26;height: auto;}
.svgIcon-arrowUpCollapse {aspect-ratio:22 / 12;height: auto;}
.svgIcon-audience {aspect-ratio:16 / 16;height: auto;}
.svgIcon-careHand {aspect-ratio:34 / 16;height: auto;}
.svgIcon-category {aspect-ratio:16 / 16;height: auto;}
.svgIcon-close {aspect-ratio:22 / 22;height: auto;}
.svgIcon-closeEye {aspect-ratio:24 / 24;height: auto;}
.svgIcon-copy {aspect-ratio:21 / 21;height: auto;}
.svgIcon-crisis {aspect-ratio:40 / 40;height: auto;}
.svgIcon-cross {aspect-ratio:26 / 26;height: auto;}
.svgIcon-datePicker {aspect-ratio:22 / 22;height: auto;}
.svgIcon-details {aspect-ratio:24 / 24;height: auto;}
.svgIcon-donate {aspect-ratio:44 / 44;height: auto;}
.svgIcon-download {aspect-ratio:28 / 28;height: auto;}
.svgIcon-duration {aspect-ratio:18 / 18;height: auto;}
.svgIcon-email {aspect-ratio:60 / 60;height: auto;}
.svgIcon-eye {aspect-ratio:20 / 13;height: auto;}
.svgIcon-facebook {aspect-ratio:24 / 24;height: auto;}
.svgIcon-gift {aspect-ratio:35 / 35;height: auto;}
.svgIcon-group {aspect-ratio:45 / 46;height: auto;}
.svgIcon-heart {aspect-ratio:102 / 85;height: auto;}
.svgIcon-important {aspect-ratio:23 / 21;height: auto;}
.svgIcon-information {aspect-ratio:2 / 12;height: auto;}
.svgIcon-instagram {aspect-ratio:24 / 24;height: auto;}
.svgIcon-instagramColor {aspect-ratio:46 / 46;height: auto;}
.svgIcon-instagramOutline {aspect-ratio:30 / 30;height: auto;}
.svgIcon-like {aspect-ratio:23 / 22;height: auto;}
.svgIcon-likeWhiteHand {aspect-ratio:23 / 22;height: auto;}
.svgIcon-linkedin {aspect-ratio:24 / 24;height: auto;}
.svgIcon-love {aspect-ratio:23 / 22;height: auto;}
.svgIcon-mastercard {aspect-ratio:51 / 21;height: auto;}
.svgIcon-minus {aspect-ratio:32 / 32;height: auto;}
.svgIcon-minusRow {aspect-ratio:24 / 24;height: auto;}
.svgIcon-outlinedTick {aspect-ratio:104 / 104;height: auto;}
.svgIcon-payme {aspect-ratio:48 / 16;height: auto;}
.svgIcon-photoGallery {aspect-ratio:25 / 17;height: auto;}
.svgIcon-play {aspect-ratio:108 / 108;height: auto;}
.svgIcon-plus {aspect-ratio:32 / 32;height: auto;}
.svgIcon-profile {aspect-ratio:24 / 24;height: auto;}
.svgIcon-questionMark {aspect-ratio:17 / 17;height: auto;}
.svgIcon-quote {aspect-ratio:24 / 24;height: auto;}
.svgIcon-redirect {aspect-ratio:18 / 18;height: auto;}
.svgIcon-remark {aspect-ratio:23 / 23;height: auto;}
.svgIcon-safekey {aspect-ratio:600 / 152;height: auto;}
.svgIcon-search {aspect-ratio:24 / 24;height: auto;}
.svgIcon-secure {aspect-ratio:24 / 24;height: auto;}
.svgIcon-settings {aspect-ratio:45 / 46;height: auto;}
.svgIcon-share {aspect-ratio:20 / 20;height: auto;}
.svgIcon-speaker {aspect-ratio:45 / 44;height: auto;}
.svgIcon-target {aspect-ratio:45 / 44;height: auto;}
.svgIcon-tick {aspect-ratio:13 / 9;height: auto;}
.svgIcon-time {aspect-ratio:22 / 22;height: auto;}
.svgIcon-twitter {aspect-ratio:12 / 12;height: auto;}
.svgIcon-unionPay {aspect-ratio:30 / 18;height: auto;}
.svgIcon-visa {aspect-ratio:30 / 30;height: auto;}
.svgIcon-warning {aspect-ratio:104 / 106;height: auto;}
.svgIcon-youtube {aspect-ratio:24 / 24;height: auto;}
.svgIcon-YoutubeRed {aspect-ratio:37 / 37;height: auto;}
}